/* Element Selectors */
body {
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 1.5rem;
}

select {
  cursor: pointer;
  margin-bottom: 10px;
}

/* Class Selectors */
.bg-blue {
  background-color: #1c92d2;
}

.bg-light {
  background: #000064;  /* old browsers fallback color*/
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2); 
  background: linear-gradient(to top, #f2fcfe, #1c92d2);
}

.btn {
  color: #fff;
}

.container {
  background-color: #000;
}

.img-control {
  max-height: 350px;
}

.text-easy {
  color: #66FF00;
}

/* Pseudo Selectors */
.btn:hover {
  background-color: #fff;
  color: #1c92d2;
}











